<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/taskScreen.css" media="screen">
    <link rel="stylesheet" href="/css/tasksPrint.css" media="print">
    <title>Gestor de Tareas</title>
</head>
<body>
    <header>
        <img class="logo" src="/img/logo.png" alt="Gestor de Tareas"> 
        <div class="user">
            <img class="user-icon" src="/users/userImage" alt="">
            <div class="user-info">
                <p><%= locals.userEmail %> </p>
                <a href="/logout" class="btn btn-outline-light" type="logout">Desconectar</a>
            </div>
        </div>
    </header>

    <main>
        <p class="print-header">Tareas</p>
        <div class="row justify-content-center tasks-container">
            <% taskList.forEach(task => { %>
                <% if (task.done) { %>
                    <div class="col-sm-8 card finished-task">
                        <div class="card-body">
                            <p class="task-name"><%= task.text %></p>
                        </div>
                    </div>
                <% }
                else { %> 
                    <div class="col-sm-8 card unfinished-task">
                        <div class="card-body">
                            <p class="task-name"><%= task.text %></p>
                            <div class="tags">
                                <% task.tags.forEach(tag => {%>
                                    <p><%= tag %></p>
                                <%})%>
                            </div>
                            <a href="/tasks/finish/<%= task.id %>"><button class="btn btn-outline-danger">Finalizar</button></a>
                        </div>
                    </div>
                <% } %> 
            <% }) %> 
        </div>

        <div class="tasks-buttons">
            <a class="btn btn-danger" href="/tasks/deleteCompleted">Eliminar Tareas</a>
            <a class="btn btn-success" href="/tasks/addTask">Añadir Tarea</a>
        </div>
    <main>
</body>
</html>